
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


section {
    width: 100%;
    margin: 0;
    padding: 0;
}
.cover-photo-1 {
    background-image: url('../Media/coverPhoto1.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-section {
    background-color: #848884;
    border-radius: 10px;
    max-width: 400px;
    padding: 1rem;
}
.about-section {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.about-section .container {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 2rem;
    border-radius: 10px;
    color: white;
}

/*  Carousel Control  */
.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20%;
    opacity: 0;
    height: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: brightness(0) invert(1);
    width: 1rem;
    height: 1rem;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}